.banner{
    background-image: url(../assets/Imagenes/Imagen-Donas.svg);
    background-size: cover;
    background-position: 50%;
}


.info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 50%;
    gap: 32px;
    padding: 72px 32px;
}

.titulo{
    font-family: 'Poppins', sans-serif;
    font-size: 64px;
    font-weight: 600;
    color: #793B89;
}

.info-promo{
    font-family: 'Inter', sans-serif;
    font-size: 20px;
}

.formulario{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 16px;
}

.seleccion-dona{
    display: flex;
    gap: 32px;
    align-items: center;
}

.texto-favorita{
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 600;
    
}

#sabores-de-donas{
    font-family: 'Inter', sans-serif;
    font-size: 20px; 
    padding: 14px 16px;
    border-radius: 6px;
    width: 240px;
}

#btn{
    background-color: #D63384;
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-size: 16px; 
    font-weight: 600;
    border: none;
    border-radius: 6px;
    padding: 16px 24px; 
    cursor: pointer; 
}

#btn:hover{
    background-color: #801F4F;
}

.contenido-sabores{
    background-color: #f8f8f8;
    flex-direction: column;
    padding: 40px 72px;
}

.contenedor-texto-sabores{
    display: flex;
    gap: 32px;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}
.titulo-seccion{
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    font-weight: 600;
    color: #793B89;
    text-align: center;
}

.listado-de-donas{
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
    gap: 24px;
    padding: 42px;
}

.dona{
    display: flex;
    align-items: center;
    background-color: #FFF5FA;
    width: 287px;
    padding: 16px 32px;
    flex-direction: column;
    border-radius: 12px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    gap: 32px;
}

.subtitulo{
    font-family: 'Inter', sans-serif;
    font-size: 24px; 
    font-weight: 500;
    color: black;
    justify-content: center;
}

p{
    font-family: 'Inter', sans-serif;
    font-size: 18px; 
    font-weight: 400px;
    color: black;
}

.titulo-tarjeta{
    font-family: 'Inter', sans-serif;
    font-size: 28px; 
    font-weight: 600px;
    color: black;
    text-align: left;
}

.contenido-elaboracion{
    background-color: #FFECF5;
    padding: 40px 72px;

}

.contenedor-elaboracion{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    flex-wrap: wrap;
}

.contenedor-redes-sociales{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.video-elaboracion{
    width: 67.125rem;
    padding: 2rem;
}

.formulario-datos{
    background-color: #FBD4F6;
    padding: 40px 72px;
    justify-content: center;
    align-items: center;
    gap: 40px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.contenido-formulario{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.texto-formulario{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 55%;
    align-content: flex-start;
    padding: 2rem;
}
.form-2{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #f8f8f8;
    border-radius: 1rem;
    width: 45%;
    justify-content: space-between;
    padding: 2rem 4rem;
}

.formulario-contenido{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.entrada{
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: .5rem;
}
.texto-label{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 600;
}

#nombre-usuario{
    font-family: 'Inter', sans-serif;
    font-size: 16px; 
    padding: 8px 12px;
    border-radius: 0.25rem;
    width: 100%;
    border-color: #CED4DA;
}

#correo-usuario{
    font-family: 'Inter', sans-serif;
    font-size: 16px; 
    padding: 8px 12px;
    border-radius: 0.25rem;
    width: 100%;
    border-color: #CED4DA;
}

.boton{
    display: flex;
    justify-content: center;
}

.redes-sociales{
    padding: 8px;
}

.footer-contenedor{
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
}

h6{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

@media  (max-width: 576px) {
    .banner{
        background-image: url(../assets/Imagenes/donuts-small.jpg);
        background-position:0%;
    }
    .info{
        width: 100%;
        gap: 8px;
        padding: 16px 24px;
    }
    .titulo{
        font-size: 36px;
    }
    .info-promo{
        font-size: 16px;
    }
    .texto-favorita{
        font-size: 18px;
    }
    #sabores-de-donas{
        font-size: 16px;
        padding: 10px 12px;
        width: 13rem;
    }
    #btn{
        font-size: 14px;
        padding: 0.5rem 0.7rem;
    }
    .contenido-sabores{
        padding: 24px 32px;
    }
    .contenedor-texto-sabores{
        gap: 16px;
    }
    .titulo-seccion{
        font-size: 28px;
    }
    .listado-de-donas{
        gap: 16px;
        padding: 16px 0px;
    }
    .dona{
        padding: 1rem 1.5rem;
        gap:16px;
    }
    .donuts{
        width: 6.5rem;
    }
    .subtitulo{
        font-size: 18px;
    }
    p{
        font-size: 14px;
    }
    .titulo-tarjeta{
        font-size: 20px;
    }
    .contenido-elaboracion{
        padding: 24px 32px;
    }
    .contenedor-elaboracion{
        gap: 16px;
    }
    .video-elaboracion{
        width: 100%;
        padding: 0rem;
    }
    .formulario-datos{
        padding: 24px 32px;
        gap: 16px;
    }
    .contenido-formulario{
        flex-direction: column;
    }
    .texto-formulario{
        width: 100%;
        padding: 0rem;
    }
    .form-2{
        width: 100%;
        padding: 1rem;
    }
    .formulario-contenido{
        gap: 1rem;
    }
    
    h6 {
    font-size: 12px;
   }
}
    